.h1{
    text-align: center;
    color: white ;
    font-weight: bold;
}
.p {
     color: greenyellow;
    text-align: center;
    font-family: 'Gill Sans', sans-serif
}

    

.body{
    background-color: darkslateblue
}
